<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de Veículos</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Agendamento</h1>

    <!-- Botões para acessar outras telas -->
    <div>
        <button onclick="window.location.href='/login'">Login</button>
        <button onclick="window.location.href='/criar_usuario'">Criar Usuário</button>
        <button onclick="window.location.href='/adicionar_veiculo'">Adicionar Veículo</button>
    </div>
</body>
</html>